%%% -*- mode: erlang; -*-
{erl_opts, [debug_info]}.
{deps, [
        {worker_pool,   "1.0.4"}
       ,{stillir, "1.0.0"}
       ]}.

{profiles,
 [
  {dev, [
         {erl_opts, [{parse_transform, lager_transform}]}
        ,{deps, [{lager, "2.1.1"}]}
        ,{shell, [
                  {config, "sys.conf"}
                 ,{apps, [dogstatsd]}
                 ]}
        ]}
 ,{test, [
          {deps, [
                  {lager, "2.1.1"}
                 ,{meck, "0.8.4"}
                 ]}
         ]}
 ]}.
